
/config/biomesoplenty/biomes/defaults/
/config/BiomeTweaker/output/
config/AppliedEnergistics2/items.csv
config/vanillafix/
config/thaumicjei_itemstack_aspects.json
config/codechicken/supporters.json
config/codechicken/supporters.marker
